<h3>ToDo application</h3>

<div>
    <input class="new-todo" placeholder="Whats need to be done?" autoFocus [value]="toDoText" (keyup)="changeText($event)"
        (keyup.enter)="addToDo()" />
</div>

<br>

<div>
    <button type="submit" (click)="completeAllTasks()">
        Complete all tasks
    </button>
    <button type="submit" (click)="deleteCompleted()">
        Delete completed
    </button>
</div>

<hr>
<div *ngFor="let toDo of $toDos | async;">
        <div *ngIf="toDo.isFinished === 0" class="listpadding">
            <button type="submit" class="buttonRed" (click)="finishToDo(toDo.id)"></button>
            {{toDo.text}}
            <button type="submit" class="deleteButton" (click)="deleteToDo(toDo.id)">X</button>
        </div>

        <div *ngIf="toDo.isFinished === 1" class="listpadding">
            <button type="submit" class="buttonGreen" (click)="finishToDo(toDo.id)"></button>
            {{toDo.text}}
            <button type="submit" class="deleteButton" (click)="deleteToDo(toDo.id)">X</button>
        </div>
</div>

<!-- <hr *ngIf="toDos.length > 0"> -->

<!-- <div>
    <p>{{unfinishedTasks}} tasks left</p>
    <button type="submit" (click)="getAllTasks()">All</button>
    <button type="submit" (click)="getUnfinishedTasks()">Uncompleted</button>
    <button type="submit" (click)="getFinishedTasks()">Completed</button>
</div> -->



