.listpadding {
    padding: 5px;
}

.buttonRed {
    border-radius: 50%;
    background: red;
    width: 10px;
    height: 15px;
}

.buttonGreen {
    border-radius: 50%;
    background: green;
    width: 10px;
    height: 15px;
}

.deleteButton {
    position: absolute;
    right: 350px;
}
